body{
    margin:0;
    background-color:white;
}

nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: lightgray;

    h2{
        margin-right: 10%;
        margin-left: 2%;
        padding-left:2%;
        color:white;
        background-color:red;
        border-radius:50%;
    }

    ul{
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:100%;
        list-style-type:none;
        padding:0;

        a{
            text-decoration: none;
            color:white;
            font-size: 20px;
        }

        li{
            background-color: rgb(65, 134, 156);
            padding:10px 25px 10px 25px;
            border-radius: 10px;
        }

        .exo_hover_page{
            position:relative;
            .dropdown{
                display:none;
                position:absolute;
                top:100%;
                left:0;
                width:150%;
                background-color: rgb(65, 134, 156);
            }
            &:hover{
                .dropdown{
                    display:block;
                }
            }
        }
    }
}

main{
    display:block;
    #titreAccueil{
        display: flex;
        justify-content: center;
        margin-top: 6%;
    }

    #imageJs{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width:60%;
        }
    }

    .gridButton{
        display: flex;
        justify-content: center;
        width:100%;
        ul{
            display:grid;
            grid-template-columns: 250px 250px 250px 250px 250px 250px;
            list-style-type: none;
            padding:0;

            li{
                display: flex;
                justify-content: center;
                position:relative;
                .hoverButton{
                    position:absolute;
                    top:70%;
                    background-color: white;
                    border: 1px solid black;
                    padding:10px;
                    display:none;
                    z-index:1;
                }

                &:hover{
                    .hoverButton{
                        display:block;
                    }
                }
            }
        }
        button{
            padding: 10px 30px;
            margin: 20px;
            border-radius: 15px;
            border: none;
            color: white;
            background-color: darkcyan;
            cursor: pointer;

            &:hover{
                background-color: rgb(153, 50, 204);
                // transform: scale(1.05);
                box-shadow: 0 0 10px rgba(155, 60, 250);
                transition: 0.2s ease-in-out;
            }
        }
    }
}